ssh/
ssh/known_hosts
ssh/known_hosts.old
ssh/id_ed25519*
ssh/sourcehut_2024*
ssh/gitlab_com_ed25519*
ssh/id_githubmacos2025*

.DS_Store
.env.gpa
fish_variables
_*.fish
.zig-cache/
zig-out/

zsh/plugins/*
lazygit/state.yml
nvim/backup.lua
kitty/kitty-default.conf
ART.md
scripts/zellij

nvim/lua/plugins/custom/gruber-better.nvim
nvim/lua/plugins/custom/habamax.nvim
nvim/lua/plugins/custom/oil.nvim
nvim/lua/plugins/custom/sobrio
nvim/lua/plugins/custom/todo-comments.nvim
nvim/lua/plugins/custom/lspmark.nvim

yazi/theme-*.toml
yazi/theme.toml-*
yazi/keymap.toml-*
yazi/yazi.toml-*
yazi/flavors/*
yazi/flavors/*.yazi
yazi/flavors/**/*
yazi/opener.sh

zellij/*.bak*
scripts/img2fbm
nvim/lua/plugins/custom/kanso.nvim
scripts/ggshr
