[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = 956MB
	email = bays@956mb.com
	signingkey = /Users/bays/.ssh/id_githubmacos2025.pub
[push]
	default = current
[init]
	defaultBranch = main
[sendpack]
	sideband = false
[http]
	lowSpeedLimit = 1000
	lowSpeedTime = 20
	postBuffer = 524288000
	sslBackend = openssl
[core]
	compression = 9
	whitespace = error
	preloadindex = true
[url "git@github.com:"]
	insteadOf = "gh:"
[url "git@github.com:956MB/"]
	insteadOf = "956:"

[gpg]
	format = ssh
[commit]
	gpgsign = true
