ssh/known_hosts
ssh/known_hosts.old
ssh/id_ed25519*
ssh/sourcehut_2024*
ssh/gitlab_com_ed25519*
ssh/id_githubmacos2025*

.DS_Store
.env.gpa

zsh/plugins/*
lazygit/state.yml
nvim/backup.lua
kitty/kitty-default.conf
ART.md

nvim/lua/plugins/custom/gruber-better.nvim
nvim/lua/plugins/custom/habamax.nvim
nvim/lua/plugins/custom/oil.nvim
nvim/lua/plugins/custom/sobrio
nvim/lua/plugins/custom/todo-comments.nvim
nvim/lua/plugins/custom/lspmark.nvim

yazi/theme-*.toml
